# Core API
fastapi
uvicorn[standard]
pydantic

# LLM and Vector Storage
llama-cpp-python
langchain==0.0.258
huggingface-hub
sentence_transformers

# Vector Database
pinecone

# PyTorch (required by sentence_transformers)
torch